body {
/*     margin: 0; */
/*     padding: 0; */
/*     line-height: 0.7em; */
}

/* b { */
/*  font-size: 110%; */
/* } */
em {
    color: brown;
}

/* #topsection { */
/*     background: #EAEAEA; */
/*     height: 90px; Height of top section */
/* } */

/* #topsection h1 { */
/*     margin: 0; */
/*     padding-top: 15px; */
/* } */

#contentwrapper {
    float: right;
    width: 100%;
    margin-left: -360px;
    /*Set left margin to -(leftColumnWidth + RightColumnWidth)*/
}

#contentcolumn {
    margin-left: 360px;
    /*Set left margin to (leftColumnWidth + RightColumnWidth)*/
}

#leftcolumn {
    float: left;
    width: 130px; /*Width of left column in pixels*/
    /*  background: #C8FC98; */
}

#rightcolumn {
    float: left;
    width: 230px; /*Width of right column in pixels*/
    /*  background: #FDE95E; */
}

/* #footer { */
/*     clear: both; */
/*     width: 100%; */
/*     background: black; */
/*     color: #FFF; */
/*     text-align: center; */
/*     padding: 4px 0; */
/* } */

/* #footer a { */
/*  color: #FFFF80; */
/* } */
.innertube {
/*     margin: 10px; */
    /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 10px;
}

/* ####### responsive layout CSS ####### */
@media ( max-width : 940px) {
    1st level responsive layout break point- drop right column down
    #rightcolumn {
        float: none;
/*         width: 100%; */
        margin-left: 0;
        clear: both;
    }
    #contentcolumn {
        margin-left: 350px; Set to leftColumnWidth
    }
    #contentwrapper {
        margin-left: -425px; Set to -leftColumnWidth
    }
}

@media ( max-width : 600px) {
    2nd level responsive layout break point- drop left column down
    #leftcolumn {
        float: none;
/*         width: 100%; */
        clear: both;
        margin-left: 0;
    }
    #contentcolumn {
        margin-left: 0;
    }
    #contentwrapper {
        margin-left: 0;
    }
}