/*
@author: jingl3s

# license
#
# Copyright jingl3s 
# This code is free software; you can redistribute it and/or modify it
# under the terms of the BSD license (see the file
# COPYING.txt included with the distribution).

Some settings where taken from https://www.w3schools.com/Css/

*/

html {
	margin: 0px;
	padding: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	background: black;
}

*,
*:before,
*:after {
	box-sizing: inherit
}

header {
	border-style: none none none;
	border-color: -moz-use-text-color -moz-use-text-color #f3efe3;
	border-width: 0 0 1px;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #db750f;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	color: #944f0a;
}

footer {
	border-top: 1px none #f3efe3;
	text-align: center;
}

body {
	padding: 0em;
	/* Same color as used by Home assistant theme used */
	font-family: 'Raleway, sans-serif';
	font-size: 1rem;
	font-weight: 500;
	overflow: hidden;
	margin: 0;
}

a {
	color: #739931;
}


.page {
	max-width: 60em;
	margin: 0 auto;
}

table th,
table td {
	text-align: center;
	font-weight: inherit;
}

table.layout {
	width: 100%;
	border-collapse: collapse;
}

table.display {
	border-right: 1px solid grey;
	margin: 1em 0;
	color: #F0F0F0;
}

table.display tr.header {
	background: #303030;
}

table.display tr.even {
	background: #101010;
}

table.display tr {
	background: black;
}

/* Styles used to display in same line 2 tables
Source: https://www.sitepoint.com/community/t/how-to-place-two-tables-side-by-side/6499/3
*/
@media (min-width : 30em) {
	div.floatLeft {
		width: 50%;
		float: left;
		margin-top: -1em;
	}

	div.floatRight {
		width: 50%;
		float: right;
		margin-top: -1em;
	}

}

@media (max-width : 30em) {

	body {
		overflow: auto;

	}
	table.responsive-table {
		box-shadow: none;
	}

	table.responsive-table thead {
		display: none;
	}

	table.display th,
	table.display td {
		padding: .5em;
	}

	table.responsive-table td:nth-child(1):before {
		content: 'Horaire';
	}

	table.responsive-table td:nth-child(2):before {
		content: 'Plannifie';
	}

	table.responsive-table td:nth-child(3):before {
		content: 'Reel';
	}

	table.responsive-table td:nth-child(4):before {
		content: 'Bus';
	}

	table.responsive-table td:nth-child(1),
	table.responsive-table td:nth-child(2),
	table.responsive-table td:nth-child(3),
	table.responsive-table td:nth-child(4) {
		padding-left: 40%;
	}

	table.responsive-table td:nth-child(1):before,
	table.responsive-table td:nth-child(2):before,
	table.responsive-table td:nth-child(3):before,
	table.responsive-table td:nth-child(4):before {
		position: absolute;
		left: .5em;
		font-weight: bold;
	}

	table.responsive-table tr,
	table.responsive-table td {
		display: block;
		text-align: center;
	}

	table.responsive-table tr {
		position: relative;
		margin-bottom: 1em;
		/* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); */
	}

	table.responsive-table td {
		border-top: none;
	}

	table.responsive-table td.horaire {
		border-top: 1px solid #B3BFAA;
	}

	table.responsive-table td.actions {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: none;
	}

	table.responsive-table td.sens {
		line-height: initial;
	}

	div.floatLeft {
		width: 100%;
		margin-top: -1em;
	}

	div.floatRight {
		width: 100%;
		margin-top: -1em;
	}
}

.my_button {
	height: 3rem;
	width: auto;
}

.wifi_on {
	color: black;
	background-color: lightgreen;
	/*     font-size: 5em; */
	height: 3rem;
	width: auto;
}

.wifi_off {
	color: black;
	background-color: red;
	/*     font-size: 5em; */
	height: 3rem;
	width: auto;
}

/* Rate change style */
.taux {
	color: lightgrey;
	line-height: initial;
}

.taux_neg {
	color: lightcoral;
	line-height: initial;
}