{#
license

Copyright jingl3s 
This code is free software; you can redistribute it and/or modify it
under the terms of the MIT license (see the file
LICENSE included with the repository). #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- sources : 
    http://www.w3schools.com/tags/att_meta_http_equiv.asp 
    http://codesupport.info/6-important-features-as-how-to-do-it-using-meta-tags/
    -->
<!--     Move this to use some javascript stuff -->
<!-- 	<meta http-equiv="refresh" content="30"> -->
	<meta http-equiv="Cache-Control" content="no-store">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="Informations" name="jingl3s">
	
	<title>Informations</title>
	
	<link rel="stylesheet" href="{{dossier_rsrc_server}}w3.css">
	<link rel="stylesheet" href="{{dossier_rsrc_server}}infos.css">
	<link rel="stylesheet" href="{{dossier_rsrc_server}}dynamicdrive3col.css">
	
</head>
<body>

<!-- 	<header> -->
<!-- 		<h1> -->
<!-- 			NOTHING -->
<!-- 		</h1> -->
<!-- 	</header> -->

<!--     Source: http://www.dynamicdrive.com/style/layouts/item/css_liquid_layout_37_fixed_fixed_fluid/ -->
	<div id="maincontainer">

		<!--        <div id="topsection"> -->
		<!--            <div class="innertube"> -->
		<!--                <h1>CSS Liquid Layout #3.7- (Fixed-Fixed-Fluid)</h1> -->
		<!--            </div> -->
		<!--        </div> -->

        {% if table_previsions_semaine %} {% if table_previsions_semaine|length > 0 %} 
		<div id="contentwrapper">
			<div id="contentcolumn">
				<div class="innertube">
					<b><em>Meteo previsions</em></b>
			        {% set counter = 0 %}
			          {% for prevision in table_previsions_semaine %}
			            <p class="w3-tiny" style="color: white;line-height:100%">{{prevision.jour}} <img src="{{prevision.icon}}" alt="" style="height:15px;"> {{prevision.condition}} 
			            {#{% if counter == 0 %}<img src="{{prevision.icon_url}}" alt="" style="height:25px;">{% endif %}#}
			            </p>
			            {% set counter = counter + 1 %} 
			        {% endfor %}
				</div>
			</div>
		</div>
        {% endif %} {% endif %}
		
		<div id="leftcolumn">
		{# Hide timer but need to be in the page as referenced by JAvascript that fails to refresh otherwise #}
            {% set hide_time = "hidden" %}
	        {% if time %} 
	           {% set hide_time = "" %}
		    {% endif %} 
	        <div {{hide_time}} align="center" style="top: 50%;">
	            <h1>
	                <a id="time"></a>
	            </h1>
            </div>
            
		    <BR/>
		    
		    
		    {# Manage wifi status#}
            {% set class_wifi = {'on': 'my_button', 'off': 'my_button'} %}
            
            
            {% if table_temperatures %} {% if table_temperatures|length > 0 %}
                {% set counter = 0 %}
                {% for capteur, horaire, value in table_temperatures %}
                     {% if "I_WIFI" in capteur %}
                    {%  if ((value|int) == 10) %}
                          {% if class_wifi.update({'on': 'wifi_on', 'off': 'my_button'}) %} {% endif %}
                    {% else %}
                          {% if class_wifi.update({'on': 'my_button', 'off': 'wifi_off'}) %} {% endif %}
                    {% endif %}
                    {% endif %}
                {% endfor %} 
            {% endif %} {% endif %}
            
	        {% if table_temperatures %} {% if table_temperatures|length > 1 %} 
			<div class="innertube">
				<div class="w3-row-padding">
				<b><em>Capteurs</em></b>

		        {% set counter = 0 %}
		        {% for capteur, horaire, value in table_temperatures %}
		             {% if "I_WIFI" in capteur %}
		            {%  if ((value|int) == 10) %}
		                  {% if class_wifi.update({'on': 'wifi_on', 'off': 'my_button'}) %} {% endif %}
		            {% else %}
		                  {% if class_wifi.update({'on': 'my_button', 'off': 'wifi_off'}) %} {% endif %}
		            {% endif %}
		            
		             {% else %} {% if value != "N/A" %}
		             
		            <h2>{{capteur}} : <a style="color: white">{{value}}</a></h2>
		            {% endif %}
		            {% set counter = counter + 1 %}
		            {% if table_temperatures|length == counter %}
		             <a class="w3-tiny">{{horaire}}</a>
		             {% endif %}
		             
		             {% endif %}
		        {% endfor %} 

				</div>
			</div>
	        {% endif %} {% endif %}
			
		</div>

        {% if table_previsions %} {% if table_previsions|length > 0 %} 
		<div id="rightcolumn">
			<div class="innertube">
				<b><em>Meteo 24h</em></b>
		          <!--  source: http://www.w3schools.com/css/css_rwd_grid.asp -->
		        {% set counter = 0 %}
		          {% for prevision in table_previsions %}
		            <p class="w3-tiny" style="color: white;line-height:100%">{{prevision.heure}}h <img src="{{prevision.icon}}" alt="" style="height:15px;"> {{prevision.temperature}}°C, {{prevision.humidite}}%, {{prevision.condition}} 
		            {#{% if counter == 0 %}<img src="{{prevision.icon_url}}" alt="" style="height:25px;">{% endif %}#}
		            </p>
		            {% set counter = counter + 1 %} 
		        {% endfor %}
			</div>
		</div>
       {% endif %} {% endif %}



	</div>

{% if table_horaires_multi %} {% if table_horaires_multi|length > 0 %}
<table class="layout display responsive-table">

        <thead>
            <tr>
                <th>Horaire</th>
                <th>Delai (minutes)</th>
                <th>Delai reel (minutes)</th>
                <th>Bus</th>
            </tr>
        </thead>
        {% for bus_info in table_horaires_multi %}
            
        <tbody>
            <tr>
               <td colspan="4" rowspan="1"
                    style="text-align: center; vertical-align: top;" background-color="grey"><b>Vers {{bus_info.TITRE}}</b></td>
            </tr>
        </tbody>
            {% for element in bus_info.HORAIRE %}
                {% for value in element.values() %}
                <tr>
                    <td class="horaire">{{value.horaire_formate}}</td>
                    <td class="attente">{{value.temps_attente}}</td>
                    {% if value.temps_attente_reel|int <= 0%}
                    <td class="attente_reel">{{value.temps_attente_reel}}</td>
                    {% else %}
                    <td class="attente_reel">{{value.temps_attente_reel}}</td>
                    {% endif %}
                    <td class="bus">{{value.bus_id}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
    {% endif %} {% endif %}

<div>
{# Display the domoticz button only if Domoticz data is available #}
{% if table_temperatures %} {% if table_temperatures|length > 0 %}
<button type="submit" onclick="javascript:send_domoticz('type=command&param=switchlight&idx=43&switchcmd=Set%20Level&level=10')" class="{{class_wifi.on}}" >Wifi : marche</button>
<button type="submit" onclick="javascript:send_domoticz('type=command&param=switchlight&idx=43&switchcmd=Set%20Level&level=0')" class="{{class_wifi.off}}" >Wifi : arret</button>
{% endif %} {% endif %}
{% if table_taux %} {% if table_taux|length > 0 %}
    <span class="taux">
        Taux CAD->Euros :  
        {% for taux in table_taux %}
        {% if taux.taux != "NON-DISPO" %}
            {% if taux.indication < 0 %}
            <span class="taux_neg">
            {% else %}
            <span class="taux">
            {% endif %}
            {{taux.titre}}={{taux.taux}} 
            </span>
            {% endif %}
        {% endfor %}
        </span>
    </span>
{% endif %} {% endif %}
{% if table_temperatures %} {% if table_temperatures|length > 0 %}
<button type="submit" onclick="javascript:send_domoticz('type=command&param=switchlight&idx=45&switchcmd=On')" class="my_button" style="float: right;">Redémarre routeur</button>
{% endif %} {% endif %}
{% set hide_full_screen_button = "hidden" %}
{% if full_screen_button %} 
   {% set hide_full_screen_button = "" %}
{% endif %} 
<button {{hide_full_screen_button}} type="button" id="btnFullscreen" class="my_button" style="float: right;">Plein ecran</button>
</div>


<!-- DIV zone utilise lors activation Wifi -->
<div id='div'>
</div>
<br>

<!-- Hide display of debug information useless now -->
<!-- <div>	 -->
<!-- 	<a class="w3-tiny">Creation fichier: {{date_creation_fichier}}, </a> -->
<!-- 	<a class="w3-tiny" id='date'></a> -->
<!-- </div> -->

<div>
   <a class="w3-tiny">{{extra}}</a>
</div>

{# Load the Javascript at end when any component is available #}
<script src="web/infos.js"></script>
<script src="web/full_screen.js"></script>

</body>
<footer> </footer>
</html>

